Lection_02/BullCowGame/Debug/BullCowGame.log
Lection_02/BullCowGame/Debug/BullCowGame.pch
Lection_02/BullCowGame/Debug/BullCowGame.tlog/BullCowGame.lastbuildstate
Lection_02/BullCowGame/Debug/BullCowGame.tlog/CL.command.1.tlog
Lection_02/BullCowGame/Debug/BullCowGame.tlog/CL.read.1.tlog
Lection_02/BullCowGame/Debug/BullCowGame.tlog/CL.write.1.tlog
Lection_02/BullCowGame/Debug/BullCowGame.tlog/link.command.1.tlog
Lection_02/BullCowGame/Debug/BullCowGame.tlog/link.read.1.tlog
Lection_02/BullCowGame/Debug/BullCowGame.tlog/link.write.1.tlog
Lection_02/BullCowGame/Debug/FBullCowGame.obj
Lection_02/BullCowGame/Debug/main.obj
Lection_02/BullCowGame/Debug/stdafx.obj
Lection_02/BullCowGame/Debug/vc141.idb
Lection_02/BullCowGame/Debug/vc141.pdb
Lection_02/Debug/BullCowGame.exe
Lection_02/Debug/BullCowGame.ilk
Lection_02/Debug/BullCowGame.pdb
Lection_02/.vs/BullCowGame/v15/.suo
Lection_02/.vs/BullCowGame/v15/Browse.VC.db
Lection_02/.vs/BullCowGame/v15/Browse.VC.opendb
Lection_02/.vs/BullCowGame/v15/ipch/6235ad209137e81b.ipch
Lection_02/.vs/*
Lection_02/BullCowGame/Debug/*
Lection_02/Debug/BullCowGame.exe
Lection_02/Debug/BullCowGame.ilk
Lection_02/Debug/BullCowGame.pdb
